# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.backup
.terraform/

node_modules
dist
dist-ssr
*.local
.history
build/
.env/
__pycache__
__pycache__/
__pypackages__/
.cache
.coverage
.coverage.*
.dmypy.json
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.prof
.pyre/
.pytest_cache/
.Python
.python-version
.pytype/
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv/
*.manifest
*.py,cover
MANIFEST
target/
Thumbs.db
venv/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
